---
import { datocmsRequest } from '../../../lib/datocms';
import type { SlugPathsQuery, PageQuery } from '../../../lib/types/datocms.d.ts';
import slugPathsQuery from './paths.query.graphql';
import pageQuery from './index.query.graphql';
import Layout from '../../../layouts/Default.astro';

import { setLocale, t } from '../../../lib/i18n';

export async function getStaticPaths() {
  const data = await datocmsRequest<SlugPathsQuery>({ query: slugPathsQuery });

  return data.pages.flatMap(page => page.slugs.map((slug) => ({
    params: { locale: slug.locale, slug: slug.value }
  })));
}

const locale = setLocale(Astro.params.locale);
const { page } = await datocmsRequest<PageQuery>({ query: pageQuery, variables: { locale, slug: Astro.params.slug } });
---

<Layout seoMetaTags={page._seoMetaTags}>
  <h1>{page.title}</h1>
  { t('share_on_social') }
</Layout>
