---
import { datocmsRequest } from '../../lib/datocms';
import type { NotFoundQuery } from '../../lib/types/datocms.d.ts';
import query from './404.query.graphql';
import Layout from '../../layouts/Default.astro';
import { locales, setLocale } from '../../lib/i18n';
import { noIndexTag } from '../../lib/seo';

export async function getStaticPaths() {
  return locales.map(locale => ({
    params: { locale }
  }));
}

const locale = setLocale(Astro.params.locale);
const { page } = await datocmsRequest<NotFoundQuery>({ query, variables: { locale } });
---
<Layout seoMetaTags={[noIndexTag, { tag: 'title', content: page.title }]}>
  <h1>{ page.title }</h1>
</Layout>
