---
import Layout from '../../layouts/Default.astro';

import { locales, setLocale, t } from '../../lib/i18n';

export function getStaticPaths() {
  return locales.map(locale => ({ params: { locale } }));
}

setLocale(Astro.params.locale);
---

<Layout>
  <h1>Welcome to Head Start</h1>
  { t('share_on_social') }
</Layout>
