---
import { datocmsRequest } from '../../lib/datocms';
import type { HomeQuery, HomePathsQuery } from '../../lib/types/datocms.d.ts';
import homeQuery from './index.query.graphql';
import homePathsQuery from './paths.query.graphql';
import Layout from '../../layouts/Default.astro';
import Blocks from '../../blocks/Blocks.astro';
import ShareButton from '../../components/ShareButton/ShareButton.astro';
import { setLocale } from '../../lib/i18n';

export const prerender = true;

// console.log('ssr?',Astro.locals.useSsr);

export async function getStaticPaths() {
  const data = await datocmsRequest<HomePathsQuery>({ query: homePathsQuery });
  return data.home.titles.map(title => ({
    params: { locale: title.locale }
  }));
}

const locale = setLocale(Astro.params.locale);
const { page } = await datocmsRequest<HomeQuery>({ query: homeQuery, variables: { locale } });
---
<Layout seoMetaTags={page._seoMetaTags}>
  <h1>{page.title}</h1>
  <Blocks blocks={page.bodyBlocks} />
  <ShareButton />
</Layout>
