---
import Layout from '@layouts/Default.astro';
import Blocks from '@blocks/Blocks.astro';
import PreviewModeSubscription from '@components/PreviewMode/PreviewModeSubscription.astro';
import { getCollection, getEntry } from '@lib/content';

export async function getStaticPaths() {
  const entries = await getCollection('Home', undefined, null);
  return entries.map(({ data: page }) => ({ 
    params: { locale: page.meta.locale },
  }));
}

// Load as an entry so this route can also be a server route in preview mode.
// @see /docs/preview-mode.md
const entry = await getEntry('Home');
if (!entry) {
  return Astro.redirect('/404', 404);
}

const { data: { meta, ...page }, subscription } = entry;
const { pageUrls } = meta;
---

<Layout pageUrls={pageUrls} seoMetaTags={page._seoMetaTags}>
  <PreviewModeSubscription { ...subscription } />
  <h1>{page.title}</h1>
  <Blocks blocks={page.bodyBlocks} />
</Layout>
