---
import Layout from '@layouts/Default.astro';
import { locales } from '@lib/i18n';
import type { SiteLocale } from '@lib/i18n.types';
import { noIndexTag, titleTag } from '@lib/seo';
import { datocmsSearch } from '@lib/datocms';
import { hasValidQuery, getSearchPathname } from '@lib/search';
import SearchForm from '@components/SearchForm.astro';
import SearchResult from '@components/SearchResult.astro';

export const prerender = false;

const { locale } = Astro.params as { locale: SiteLocale };
const query = new URL(Astro.request.url).searchParams.get('q') || '';
const { results } = hasValidQuery(query) ? await datocmsSearch({ locale, query }) : { results: [] };
const page = { title: '[Search]' }; // TODO: localise or get from a CMS model
const pageUrls = locales.map(locale => ({ locale, pathname: getSearchPathname(locale) }));
---
<Layout 
  pageUrls={pageUrls}
  seoMetaTags={[ noIndexTag, titleTag(page.title) ]}
>
  <h1>{ page.title }</h1>
  <SearchForm query={ query } />
  { hasValidQuery(query) && (
  <section>
    <h2>[Results]</h2>
    { results.length === 0
      ? <p>[No results]</p>
      : (
        <ol>
          { results.map((item) => (
            <SearchResult item={ item } />
          )) }
        </ol>
      )
    }
  </section>
  )}
</Layout>
