---
import type { DatoCmsRecordIdentity } from '@lib/datocms/recordIdentity';
import { getEditorLinkFromRecord } from './lib/getEditorLinkFromRecord';

interface Props {
  datocmsRecord?: DatoCmsRecordIdentity | null;
}

const { datocmsRecord } = Astro.props;
const editorUrl = getEditorLinkFromRecord(datocmsRecord);
---

{
  editorUrl && (
    <a href={editorUrl} target="_blank" rel="noopener noreferrer">
      edit in DatoCMS
    </a>
  )
}

<style>
  a {
    color: currentColor;
  }
</style>

