---
import { t } from '@lib/i18n';
import Icon from '@components/Icon';
---
<a href="">
  <Icon class="icon" name="share" />
  { t('share_on_social') }
</a>

<style>
  .icon {
    vertical-align: middle;
  }
</style>
