---
import { t } from '../../lib/i18n';
import Icon from '../Icon';
---
<a href="">
  <Icon name="share" />
  { t('share_on_social') }
</a>

<style>
  [astro-icon] {
    height: 1em;
    width: 1em;
    vertical-align: middle;
  }
</style>
