---

---
<slot />
<consent-manager>
  <dialog>
    <form method="dialog">
      <button type="submit" value="true">Give consent</button>
    </form>
  </dialog>
</consent-manager>

<script src="./ConsentManager.client.ts" />
