---
import { t } from '@lib/i18n';
import { extractTocItemsFromHtml } from './index';
import List from './List.astro';

const { html } = Astro.props;
const items = extractTocItemsFromHtml(html);
---

<nav>
  <h2>{ t('table_of_contents') }</h2>
  <List items={ items } />
</nav>
