---
import type { Data } from '../';

export interface Props {
    data: Data,
    theme?: string | null;
    valuePrefix?: string | null;
    valueSuffix?: string | null;
    valuePrecision?: number | null;
}
const { data, theme, valuePrefix = '', valueSuffix = '', valuePrecision = 0 } = Astro.props;
---

<pie-chart
  data-theme={ theme }
  data-value-prefix={ valuePrefix }
  data-value-suffix={ valueSuffix }
  data-value-precision={ valuePrecision }
>
  <div class="canvas" data-canvas></div>
  <script data-chart-data
    is:inline
    type="application/json" 
    set:html={ JSON.stringify(data, null, 2) } 
  />
</pie-chart>

<script src="./PieChart.client.ts"></script>

<style>
  pie-chart .canvas {
    width: 100%;
    aspect-ratio: 1 / 1;
    /* border: 1px solid black; */
  }
</style>
