---
import type { CounterBlockFragment } from '@lib/datocms/types';
import { getLocale } from '@lib/i18n';

export interface Props {
  block: CounterBlockFragment;
}

const { block } = Astro.props;
const formattedNumber = new Intl.NumberFormat(getLocale()).format(block.value);
---

<counter-block class="counter-item" data-counter data-duration={1000}>
  <span class="counter-item__value">
    <!-- This reserves the space for the final number to prevent layout shift but also readable by screen readers -->
    <span class="counter-item__reserve">{formattedNumber}</span>
    <span
      class="counter-item__current"
      data-counter-number
      data-target={block.value}
      aria-hidden="true"
    >
      0
    </span>
  </span>
</counter-block>

<script src="./CounterBlock.client.ts"></script>

<style>
  counter-block {
    display: inline-block;
    position: relative;
  }

  .counter-item__value {
    font-variant-numeric: tabular-nums; /* so all numbers are same width, prevents unwanted text jumping. */
    display: inline-block;
    position: relative;
    text-align: end;
  }

  .counter-item__reserve {
    opacity: 0;
  }

  .counter-item__current {
    position: absolute;
    inset: 0;
    text-align: end;
  }
</style>
