---
import { t } from '@lib/i18n';
import '@assets/a11y.css';

interface Props {
  targetId: string;
}
const { targetId } = Astro.props;
---

<a href={`#${targetId}`} class="a11y-kb-only" datocms-no-index="">
  <slot>{t('skip_to_content')}</slot>
</a>

<style>
  /* basic styling, can be removed */
  a:focus {
    position: absolute;
    background: white;
    padding: 0.5em;
  }
</style>
