---
import type { HTMLAttributes } from 'astro/types';
import type { IconName } from '@assets/icon-sprite';
export { iconNames } from '@assets/icon-sprite';

type Props = {
  name: IconName;
  title?: string;
} & HTMLAttributes<'svg'>;

const { name, title, ...props } = Astro.props;
---

<svg data-icon={name} role={title ? 'img' : 'presentation'} aria-hidden={!title} {...props}>
  {title && <title>{title}</title>}
  <use href={`#${name}`} />
</svg>

<style>
  svg {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    color: currentColor;
  }
</style>
