---
import { datocmsRequest } from '../lib/datocms';
import type { NotFoundQuery } from '../lib/types/datocms.d.ts';
import query from './[locale]/404.query.graphql';
import Layout from '../layouts/Default.astro';
import { noIndexTag } from '../lib/seo';
import { defaultLocale, setLocale } from '../lib/i18n';

const locale = setLocale(defaultLocale);
const { notFound } = await datocmsRequest<NotFoundQuery>({ query, variables: { locale } });
---
<Layout seoMetaTags={[noIndexTag, { tag: 'title', content: notFound.title }]}>
  <h1>{ notFound.title }</h1>
</Layout>
