---
import type { SiteLocale } from '@lib/i18n.types';
import type {
  NotFoundPageQuery,
  NotFoundPageRecord,
} from '@lib/types/datocms.d.ts';
import { datocmsRequest } from '@lib/datocms';
import { noIndexTag, titleTag } from '@lib/seo';
import Layout from '@layouts/Default.astro';
import Blocks from '@blocks/Blocks.astro';
import type { AnyBlock } from '@blocks/Blocks';
import query from './_404.query.graphql';

export const prerender = false;

Astro.response.status = 404;

const { locale } = Astro.params as { locale: SiteLocale };
const { page } = (await datocmsRequest<NotFoundPageQuery>({
  query,
  variables: { locale },
})) as { page: NotFoundPageRecord };
---

<Layout pageUrls={[]} seoMetaTags={[noIndexTag, titleTag(page.title)]}>
  <h1>{page.title} {Astro.params.locale}</h1>
  <Blocks blocks={page.bodyBlocks as AnyBlock[]} />
</Layout>
