---
import type { SiteLocale } from '@lib/i18n/types';
import type { NotFoundPageQuery } from '@lib/datocms/types';
import { datocmsRequest } from '@lib/datocms';
import { noIndexTag, titleTag } from '@lib/seo';
import Layout from '@layouts/Default.astro';
import Blocks from '@blocks/Blocks.astro';
import query from './_404.query.graphql';

export const prerender = false;

Astro.response.status = 404;

type Params = {
  locale: SiteLocale;
};

const { locale } = Astro.params as Params;
const variables = { locale };
// While this page is not prerendered, we still want to treat it as a regular page with the default prerender strategy.
const { page } = await datocmsRequest<NotFoundPageQuery, true>({ query, variables });
---

<Layout pageUrls={[]} seoMetaTags={[noIndexTag, titleTag(page.title)]}>
  <h1>{page.title} {Astro.params.locale}</h1>
  <Blocks blocks={page.bodyBlocks} />
</Layout>
