---
import { noIndexTag, titleTag } from '@lib/seo';
import { getEntry } from '@lib/content';
import Layout from '@layouts/Default.astro';
import Blocks from '@blocks/Blocks.astro';
import PreviewModeSubscription from '@components/PreviewMode/PreviewModeSubscription.astro';

export const prerender = false;

Astro.response.status = 404;

const entry = await getEntry('SpecialPages', 'notFoundPage');

const page = entry?.data || {
  title: 'Page not found',
  bodyBlocks: [],
};

const subscription = entry?.subscription;
---

<Layout pageUrls={[]} seoMetaTags={[noIndexTag, titleTag(page.title)]}>
  { subscription && <PreviewModeSubscription {...subscription} /> }
  <h1>{page.title} {Astro.params.locale}</h1>
  <Blocks blocks={page.bodyBlocks} />
</Layout>
