---
import type { DetailsBlockFragment } from '@lib/types/datocms';

interface Props {
  block: DetailsBlockFragment
}

const { block } = Astro.props;
const splitChar = '|';
const hasMultipleValues = (value: string) => value.includes(splitChar);
const splitValues = (value: string) => value.split(splitChar);
---

<dl class:list={['details-block', `details-block--${block.display}`]}>
  {
    Object.keys(block.details).map((key) => (
      <>
        <dt>{key}</dt>
        {hasMultipleValues(block.details[key]) ? (
          <div>
            {splitValues(block.details[key]).map((value) => (
              <dd>{value}</dd>
            ))}
          </div>
        ) : (
          <dd>{block.details[key]}</dd>
        )}
      </>
    ))
  }
</dl>

<style>
    .details-block {
        display: grid;
    }

    .details-block--vertical {
        grid-template-columns: 1fr;
    }

    .details-block--horizontal {
        grid-template-columns: max-content 1fr;
    }
</style>
