---
import type {
  InternalLinkFragment,
  PageRecord,
  SiteLocale,
} from '@lib/types/datocms';
import { getPagePath } from './index';

export interface Props {
  link: InternalLinkFragment;
  openInNewTab?: boolean;
}
type Params = {
  locale: SiteLocale;
};

const { link, openInNewTab } = Astro.props;
const { locale } = Astro.params as Params;
const { title, page } = link;

// Determine pathname based on record type
const getHref = ({
  locale,
  page,
}: {
  locale: SiteLocale;
  page: InternalLinkFragment['page'];
}) => {
  const pathParams = {
    HomePageRecord: [],
    PageRecord: [getPagePath({ page: page as PageRecord, locale })],
  }[page.__typename];

  return `/${[locale, ...pathParams].filter(Boolean).join('/')}/`;
};

const href = getHref({ locale, page });
const target = openInNewTab ? '_blank' : null;

// Strip trailing spaces from slot contents so underlined links
// do not extend further than the text.
let html;
if (Astro.slots.has('default')) {
  html = await Astro.slots.render('default');
  html = html.trim();
}
---

<a {href} {target}>{html ? <Fragment set:html={html} /> : title}</a>
