---
import type { InternalLinkFragment, PageRecord, SiteLocale } from '@lib/types/datocms';
import { getPagePath } from './index';

interface Props {
  link: InternalLinkFragment;
  openInNewTab?: boolean;
}
type Params = {
  locale: SiteLocale;
};

const { link, openInNewTab } = Astro.props;
const { locale } = Astro.params as Params;
const { title, page } = link;

// Determine pathname based on record type
const getHref = (
  { locale, page }: 
    { locale: SiteLocale, page: InternalLinkFragment['page'] 
  }) => {
  const pathParams = {
    HomeRecord: [],
    PageRecord: [getPagePath({ page: page as PageRecord, locale })],
  }[page.__typename];
  
  return `/${[
    locale,
    ...pathParams,
  ].filter(Boolean).join('/')}/`;
};

const href = getHref({ locale, page });
const target = openInNewTab ? '_blank' : null;
---

<a href={href} {target}><slot>{title}</slot></a>
