---
import type { Link } from 'datocms-structured-text-utils';

interface Props {
  node: Link;
}

const { node } = Astro.props;
const { url, meta } = node;
const targetBlank = Boolean(meta?.find(entry => entry.id === 'target' && entry.value === '_blank'));
---

<a href={url} target={targetBlank ? '_blank' : null} rel="noopener noreferrer"><slot /></a>
