---
import siteDataUntyped from '@lib/site.json';

type SiteData = {
  internalDomain?: string;
};

const siteData = siteDataUntyped as SiteData;
const { datocmsEnvironment, datocmsToken, isPreview } = Astro.locals;
const projectName = siteData.internalDomain?.split('.')[0] || null;
---
<preview-mode
  data-datocms-environment={ datocmsEnvironment }
  data-datocms-token={ isPreview && datocmsToken }
  data-datocms-project={ projectName }
>
  <preview-mode-bar>  
    Preview mode
    <span role="presentation" data-status="closed" />
    <div class="preview-mode-actions">
      {/* eslint-disable-next-line astro/jsx-a11y/anchor-is-valid */}
      <a data-edit-record target="_blank">edit page</a>
      <button data-toggle-block-names type="button">toggle blocks</button>
      <a href={ `/api/preview/exit/?location=${Astro.url}` }>exit preview</a>
    </div>
  </preview-mode-bar>
  <slot />
</preview-mode>

<script src="./PreviewMode.client.ts"></script>

<style>
preview-mode-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background: black;
  color: white;
}

a {
  color: white;
}

button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0;
  text-decoration: underline;
}

a[data-edit-record]:not([href]) {
  display: none;
}

.preview-mode-actions {
  display: flex;
  gap: 1em;
  align-items: center;
}

[data-status]:before {
  display: inline-block;
  margin-left: .5em;
  margin-right: .5em;
}
[data-status="closed"]:before {
  content: "⚪";
}
[data-status="connecting"]:before {
  content: "🟠";
  animation: pulseAnimation 1s infinite;
}
[data-status="connected"]:before {
  content: "🟢";
  animation: pulseAnimation 2s infinite;
}
[data-status="error"]:before {
  content: "🔴";
}

@keyframes pulseAnimation {
  0%   { opacity: 1; }
  50%  { opacity: 0.2; }
  100% { opacity: 1; }
}

:global(.block-name-label) {
  display: none;
  position: absolute;
  background: rgb(245, 88, 62);
  color: white;
  font-size: .75rem;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: .25rem;
  padding: .25rem .5rem;
  z-index: 9999;
  pointer-events: auto;
  text-decoration: none;
  transition: all 0.2s ease;
  border: 1px solid white;
  white-space: nowrap;
  transform: translateY(-90%);
}

:global([data-show-block-names="true"] .block-name-label) {
  display: block;
}

:global([data-show-block-names="true"] .block-name-label[href]:hover),
:global([data-show-block-names="true"] .block-name-label.hover[href]) {
  background: rgb(203, 74, 51);
}

:global([data-show-block-names="true"] .block-name-label:not([href])) {
  opacity: 0.6;
  cursor: default;
  border-style: dashed;
}

:global([data-show-block-names="true"] [data-block-container].hover) {
  outline: 2px solid rgb(255, 206, 197);
  outline-offset: 2px;
}

</style>
