---
import DynamicTag from './DynamicTag.astro';
import type { Tag } from '@lib/types/datocms.d.ts';

interface Props {
  tags: Tag[];
}

const { tags } = Astro.props;

const metaTags = tags.filter(tag => tag.tag !== 'title');
const titleTag = tags.find(tag => tag.tag === 'title');
---
{ titleTag && (
  <title>{titleTag.content}</title> 
)}
{
  metaTags.map(tag => (
    <DynamicTag as={tag.tag} { ...tag.attributes } />
  ))
}
