---
import type { TextVariableBlockFragment } from '@lib/datocms/types';

export interface Props {
  block: TextVariableBlockFragment;
}

const { block } = Astro.props;
---

<span>
  {block.variableValue}
</span>
