---

---

<ask-question data-source-url="/api/markdown/getting-started">
  <form>
    <label for="question">Ask a question</label>
    <textarea id="question" name="question" required></textarea>
    <button type="submit">Got an answer?</button>
    <output></output>
  </form>
</ask-question>

<script src="./AskQuestion.client.ts"></script>
