---
import type { DefaultLayoutQuery, Tag } from '../lib/types/datocms.d.ts';
import { datocmsRequest } from '../lib/datocms';
import { setLocale } from '../lib/i18n';
import query from './default.query.graphql';
// import { Sprite } from 'astro-icon'
import LocaleSelector from '../components/LocaleSelector/LocaleSelector.astro';
import SeoHead from '../components/SeoHead.astro';
import SkipLink from '../components/SkipLink/SkipLink.astro';

interface Props {
  seoMetaTags: Tag[];
}

const locale = setLocale(Astro.params.locale);
const data = await datocmsRequest<DefaultLayoutQuery>({ query, variables: { locale } });
const { seoMetaTags } = Astro.props;
const mainContentId = 'content';
---

<!DOCTYPE html>
<html lang={ locale }>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <SeoHead tags={[...data.site.faviconMetaTags, ...seoMetaTags]} />
  </head>
  <body>
    <SkipLink targetId={ mainContentId } />
    <LocaleSelector />
    <!-- main element requires tabindex to be focusable, see SkipLink/README.md -->
    <main id={ mainContentId } tabindex="-1">
      <slot />
    </main>
  </body>
</html>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
