---
import type { DefaultLayoutQuery, Site, SiteLocale, Tag } from '@lib/types/datocms';
import { datocmsRequest } from '@lib/datocms';
import { defaultLocale } from '@lib/i18n';
import { getOpenSearchName, getOpenSearchPathname } from '@lib/search';
import query from './default.query.graphql';
import IconSprite from '@components/Icon/IconSprite.astro';
import LocaleSelector from '@components/LocaleSelector/LocaleSelector.astro';
import SeoHead from '@components/SeoHead.astro';
import SkipLink from '@components/SkipLink/SkipLink.astro';

type PageUrl = { 
  locale: SiteLocale, 
  pathname: string,
};
interface Props {
  pageUrls: PageUrl[];
  seoMetaTags: Tag[];
}
type Params = { 
  locale?: SiteLocale
};

const { locale = defaultLocale } = Astro.params as Params;
const data = await datocmsRequest<DefaultLayoutQuery>({ query, variables: { locale } }) as { site: Site };
const { pageUrls, seoMetaTags } = Astro.props;
const mainContentId = 'content';
const datocmsNoIndex = { 'data-datocms-noindex': '' }; // https://www.datocms.com/docs/site-search/excluding-text
---

<!DOCTYPE html>
<html lang={ locale }>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <SeoHead tags={[...data.site.faviconMetaTags, ...seoMetaTags]} />
    { pageUrls.map((pageUrl: PageUrl) => (
      pageUrl.locale === locale
        ? <link rel="canonical" href={ new URL(pageUrl.pathname, Astro.site) } />
        : <link rel="alternate" href={ new URL(pageUrl.pathname, Astro.site) } hreflang={ pageUrl.locale } />
    )) }
    <link rel="search" type="application/opensearchdescription+xml"
      title={ getOpenSearchName(locale) }
      href={ getOpenSearchPathname(locale) } />
  </head>
  <body>
    <header { ...datocmsNoIndex }>
      <SkipLink targetId={ mainContentId } />
      <LocaleSelector pageUrls={ pageUrls } />
    </header>
    <!-- main element requires tabindex to be focusable, see SkipLink/README.md -->
    <main id={ mainContentId } tabindex="-1">
      <slot />
    </main>
    <footer { ...datocmsNoIndex }>
      <p>Footer</p>
    </footer>
    <IconSprite />
  </body>
</html>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
