---
import type { DefaultLayoutQuery, SiteLocale, Tag } from '../lib/types/datocms';
import { datocmsRequest } from '../lib/datocms';
import { setLocale } from '../lib/i18n';
import query from './default.query.graphql';
import { Sprite } from 'astro-icon'
import LocaleSelector from '../components/LocaleSelector/LocaleSelector.astro';
import SeoHead from '../components/SeoHead.astro';
import SkipLink from '../components/SkipLink/SkipLink.astro';

type PageUrl = { 
  locale: SiteLocale, 
  pathname: string,
};
interface Props {
  pageUrls: PageUrl[];
  seoMetaTags: Tag[];
}

const locale = setLocale(Astro.params.locale);
const data = await datocmsRequest<DefaultLayoutQuery>({ query, variables: { locale } });
const { pageUrls, seoMetaTags } = Astro.props;
const mainContentId = 'content';
---

<!DOCTYPE html>
<html lang={ locale }>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <SeoHead tags={[...data.site.faviconMetaTags, ...seoMetaTags]} />
    { pageUrls.map((pageUrl: PageUrl) => (
      pageUrl.locale === locale
        ? <link rel="canonical" href={ new URL(pageUrl.pathname, Astro.site) } />
        : <link rel="alternate" href={ new URL(pageUrl.pathname, Astro.site) } hreflang={ pageUrl.locale } />
    )) }
  </head>
  <body>
    <Sprite.Provider>
      <SkipLink targetId={ mainContentId } />
      <LocaleSelector pageUrls={ pageUrls } />
      <!-- main element requires tabindex to be focusable, see SkipLink/README.md -->
      <main id={ mainContentId } tabindex="-1">
        <slot />
      </main>
    </Sprite.Provider>
  </body>
</html>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
