--- 
import type { DefaultLayoutQuery } from '../lib/datocms.d'
import { datocmsRequest } from '../lib/datocms'
import { setLocale, t } from '../lib/i18n'
import DynamicTag from '../components/DynamicTag.astro'
import query from './default.query.graphql'
import LocaleSelector from '../components/LocaleSelector/LocaleSelector.astro'

const locale = setLocale(Astro.params.locale)
const data = await datocmsRequest({ query, variables: { locale } }) as DefaultLayoutQuery
---

<!DOCTYPE html>
<html lang={ locale }>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    { 
      data.site.faviconMetaTags.map(tag => (
        <DynamicTag as={ tag.tag } { ...tag.attributes } />
      ))
    }
  </head>
  <body>
    { t('skip_to_content') }
    <LocaleSelector />
    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
