---
import Blocks from '@blocks/Blocks.astro';
import { Accordion, AccordionItem } from '@components/Accordion';
import { Tabs, TabsPanel, TabsTab } from '@components/Tabs';
import { stripStega } from '@datocms/content-link';
import type { GroupingBlockFragment } from '@lib/datocms/types';

export interface Props {
  block: GroupingBlockFragment;
}

const { block } = Astro.props;
const items = block.items;
const layout = stripStega(block.layout);
const isLayout = (value: GroupingBlockFragment['layout']) => layout === value;
---
{ isLayout('stack-titled') && (
  items.map((item) => (
    <section>
      <h2>{ item.title }</h2>
      <Blocks
        blocks={ item.blocks }
      />
    </section>
  ))
)}

{ isLayout('stack-untitled') && (
  items.map((item) => (
    <Blocks
      blocks={ item.blocks }
    />
  ))
)}

{ (isLayout('accordion-open') || isLayout('accordion-closed')) && (
  <Accordion>
    { items.map((item) => (
      <AccordionItem
        name={ `block-${block.id}` }
        open={ isLayout('accordion-open') }
      >
        <Fragment slot="heading">{ item.title }</Fragment>
        <Fragment slot="body">
          <Blocks
            blocks={ item.blocks }
          />
        </Fragment>
      </AccordionItem>
    ))}
  </Accordion>
)}

{ isLayout('tabs') && (
  <Tabs>
    { items.map((item) => (<>
      <TabsTab>{ item.title }</TabsTab>
      <TabsPanel>
        <Blocks
          blocks={ item.blocks }
        />
      </TabsPanel>
    </>))}
  </Tabs>
)}
