---

---

<ask-summary data-source-url="/api/markdown/getting-started">
  <form>
    <button type="submit">Summarise</button>
    <output></output>
  </form>
</ask-summary>

<script src="./AskSummary.client.ts"></script>
