---
import type { HTMLAttributes } from 'astro/types';

export type Props = HTMLAttributes<'a'> & {
  href: string;
  openInNewTab?: boolean;
}

const { href, openInNewTab, ...props } = Astro.props;

const target = openInNewTab ? '_blank' : null;

const external = (() => { 
  try {
    return new URL(href).origin !== new URL(Astro.url).origin;
  } catch (e: unknown) {
    // If new URL throws, it means the URL is relative, so it's internal.
    return false;
  }
})();

const rel = external ? 'noopener noreferrer' : null;

// Strip trailing spaces from slot contents so underlined links
// do not extend further than the text.
let html;
if (Astro.slots.has('default')) {
  html = await Astro.slots.render('default');
  html = html.trim();
}
---

<a {href} {target} {rel} {...props}><Fragment set:html={html} /></a>
